<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <header>
        <img class="icon" src="/images/1.png">
        <h1 class="header_text">Welcome to Weather</h1>
    </header>

    <main>
        <h2>Enter the name of a city that you want to see :)</h2>
        <form action="/city" method="POST">
            <input type="text" id="cityName" name="city" placeholder="Enter your city">
            <button type="submit" class="submit">Submit</button>
        </form>
    </main>

    <footer>app made by heyoSSam</footer>
</body>
</html>